.link {
  text-decoration: none;
  color: #666;
  font-family: 'Roboto';
  font-weight: 100;
  padding-right: 20px;
}

.link.active {
  color: black;
  cursor: default;
  font-weight: 900;
  text-decoration: underline;
}

.navbar__container {
  padding-top: 20px;
  justify-content: space-between;
}

.page_name {
  color: blue;
  font-style: italic;
}

.line_container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}
